.bg-image {
    background-image: url("/custom/assets/img/bg-02.jpg");
    background-position: top left;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.bg-image::before {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.login-logo {
    position: absolute;
    background-image: url('/custom/assets/img/logo-bg-oscuro.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 30%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    margin-right: 50px;
}

.login-container {
    max-width: 960px;
    margin-top: 150px;
    margin-left: 350px;
}

.page-container {
    /*margin-top: 85px !important;*/
}

.modal-dialog {
    margin: 130px auto;
}

.droppable-area {
    width: 250px;
    min-height: 250px !important;
    height: 250px;
    line-height: 250px;
}

.gallery-env .album-images .album-image .name {
    float: left;
    width: 100%;
}

.gallery-env .album-images .album-image .name span, .gallery-env .album-images .album-image .name em {
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: normal;
}

.page-container .main-content {
    word-break: keep-all;
}

.jumbotron {
    padding: 0 !important;
}

.cut-title {
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: normal;
}

.text-crop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.criticity-1 {
    color: #CC3F44;
}

.criticity-2 {
    color: #ff7900;
}

.criticity-3 {
    color: #f7cc31;

}