/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/files/
/files/evidence/
/files/pages-evidence/
/files/socialmedia-evidence/
.idea

#archivos modificados para pruebas, no deberá subirse el cambio a menos que sea de funcionalidad
/app/config/mail.php
/app/config/database.php
/.project