/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/config/database.php
/public/files 
/files
.idea
#archivos modificados para pruebas, no deberá subirse el cambio a menos que sea de funcionalidad
/app/config/mail.php